
.container-flex {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-center {
    display: block;
    margin: auto;
}

.background {
    background-size: cover;
}